{% extends 'layout.html' %}

{% block body %}
<div class="pagenotfound">
        <div class="container">
            <div class="content">
                <h2 class="text-center">Aww... Don't Worry.</h2>
                <p class="text-center" style="font-size:55px;">It's just a 404 Error!</p>
                <p class="text-center" style="font-size:23px;">What you're looking for may have been misplaced in our Memory. <br>We will work on that.</p>
            </div>
        </div>
    </div>
{% endblock %}
