{% extends 'layout.html' %}

{% block body %}
<section id="team">
        <div class="container">
            <div class="row" class = "intro">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">A web developer is a programmer who specializes in, or is specifically engaged in, the development of World Wide Web applications, or applications that are run over HTTP from a web server to a web browser.</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <div class="team-member social"><img class="rounded-circle img-fluid" src="static/assets/img/avatars/avatarcs.png">
                        <h4>Chiragasourabh</h4>
                        <p class="text-muted">Full Stack Developer</p>
                        <ul class="list-inline social-buttons">
                            <li> <a href="https://github.com/Chiragasourabh" target="_blank"><i class="fa fa-github"></i></a></li>
                            <li> <a href="https://www.facebook.com/chirag.sourabh.s" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li> <a href="https://www.instagram.com/chirag_sourabh_s" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li> <a href="https://www.linkedin.com/in/chiragasourabh-7344a9110" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member social"><img class="rounded-circle img-fluid" src="static/assets/img/avatars/avatarhas.jpg">
                        <h4>Harsha A S</h4>
                        <p class="text-muted">Developer</p>
                        <ul class="list-inline social-buttons">
                            <li> <a href="https://github.com/harshaas" target="_blank"><i class="fa fa-github"></i></a></li>
                            <li> <a href="https://www.facebook.com/harshaas05 " target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li> <a href="https://www.instagram.com/harsha__anuradha" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li> <a href="https://www.linkedin.com/in/harshaas" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}
